@model IEnumerable<BotAppData.Models.Group>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsClosed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCommon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsClosed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCommon)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.GroupId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupId">Удалить</a> |
                <a asp-controller="Lessons" asp-action="Index" asp-route-id="@item.GroupId">Занятия</a> |
                <a asp-controller="Users" asp-action="Index" asp-route-id="@item.GroupId">Ученики</a> |
            </td>
        </tr>
}
    </tbody>
</table>
