@model IEnumerable<BotAppData.Models.Age>
@using System;

@{
    //using System.ComponentModel.DisplayNameAttribute
    ViewData["Title"] = "Возраст";
}

    <h1>Возраст</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <!--@@{ var property = typeof(BotAppData.Models.Age).GetProperty("Name");
                    Html.ActionLink(property.Name, "Index", new { sortOrder = ViewBag.NameSortParm }); }-->
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @{  
                    Html.ActionLink("", "Index", new { sortOrder = ViewBag.NameSortParm }); }
                <!--@@Html.DisplayNameFor(model => model.Order)-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsShows)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsShows)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AgeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AgeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AgeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
