@model IEnumerable<BotAppData.Models.Product>

@{
    ViewData["Title"] = "Продукты";
}

<h1>Продукты</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Поиск: @Html.TextBox("search")
        <input type="submit" value="search me" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Имя", "Index", new { sortOrder = ViewBag.NameSortParm })

                <!--@@Html.DisplayNameFor(model => model.Name)-->
            </th>
            <th>
                @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm })

                <!--@@Html.DisplayNameFor(model => model.Price)-->
            </th>
            <th>
                <!--@@Html.ActionLink("AgeId", "Index", new { sortOrder = ViewBag.AgeIdSortParm })-->
                @Html.DisplayNameFor(model => model.AgeId)
            </th>
            <th>
                @Html.ActionLink("ProductType", "Index", new { sortOrder = ViewBag.ProductTypeSortParm })

                <!--@@Html.DisplayNameFor(model => model.ProductType)-->
            </th>
            <th>
                @Html.ActionLink("FreeTimes", "Index", new { sortOrder = ViewBag.FreeTimesSortParm })

                <!--@@Html.DisplayNameFor(model => model.FreeTimes)-->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeId) <!-- item.Age[0].Name наверное надо использовать, но он пустой -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FreeTimes)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
