@model IEnumerable<BotAppData.Models.ProductType>

@{
    ViewData["Title"] = "Типы продуктов";
}

<h1>Типы продуктов</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Поиск: @Html.TextBox("search")
        <input type="submit" value="search me" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Имя", "Index", new { sortOrder = ViewBag.NameSortParm })
                <!--@@Html.DisplayNameFor(model => model.Name)-->
            </th>
            <th>
                @Html.ActionLink("IsActive", "Index", new { sortOrder = ViewBag.IsActiveSortParm })
                <!--@@Html.DisplayNameFor(model => model.IsActive)-->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductTypeId">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductTypeId">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductTypeId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
