@model IEnumerable<BotAppData.Models.Lesson>

@{
    ViewData["Title"] = "Занятия";
}

    <h1>Занятия</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pattern)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRepeats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pattern.PatternId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRepeats)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LessonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LessonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LessonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
