@model IEnumerable<BotAppData.Models.Subscription>

@{
    ViewData["Title"] = "Подписки";
}

    <h1>Подписки</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Begin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{
                    string fullname = item.Users.Firstname + " " + item.Users.Lastname;
                }
                @Html.DisplayFor(modelItem => fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Begin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubscriptionId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.SubscriptionId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.SubscriptionId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
