@model IEnumerable<BotAppData.Models.GroupType>

@{
    ViewData["Title"] = "Типы групп";
}

    <h1>Типы групп</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupTypeId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.GroupTypeId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupTypeId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
